In [98]:
import pandas as pd

In [99]:
df = pd.read_csv("spotify_millsongdata.csv")

In [100]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [101]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [102]:
df = df.sample(5000)

In [103]:
df.shape

(5000, 4)

In [104]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [132]:
df = df.sample(5000).drop('link', axis = 1).reset_index(drop=True)

In [133]:
df.head(10)

,artist,song,text
0,Lucky Dube,Is This Freedom,She got outside one morning \r\nTo see what' ...
1,Paul Simon,Gone At Last,"The night was black, the roads were icy \r\nS..."
2,Steve Miller Band,Let Me Serve You,"Oh baby, don't you want a man like me \r\nOh ..."
3,Marianne Faithfull,Sexual Terrorist,"(Barry Reynolds, Marianne Faithfull) \r\n \r..."
4,Violent Femmes,More Money Tonight,I always felt that I was different \r\n \r\n...
5,Xzibit,Best Of Things,[Xzibit] \r\nI was voted most likely to have ...
6,Ozzy Osbourne,Old L.A. Tonight,Look into the future \r\nLook into my eyes an...
7,Vince Gill,A River Like You,A good woman's love is like a river \r\nRunni...
8,Falco,Do It Again,In the mornin' you go gunnin' \r\nFor the man...
9,Josh Groban,Somewhere,Charlotte: \r\nThere's a place for us \r\nSo...

In [134]:
df['text'][0]

"She got outside one morning  \r\nTo see what' s going on  \r\n'Cause she heard all the noises  \r\nIn the night, It' s a celebration  \r\nEven though she was old and grey  \r\nIt didn't mean she was deaf and dumb  \r\nShe looks one look at the man  \r\nThrows her hands in the air  \r\nAnd said God help us all  \r\nToo much power in one mans hands  \r\nIs dangerous  \r\nShe has never tasted freedom  \r\nAnd all the things  \r\nWe take for granted  \r\nThen she looked at me and said  \r\nSon, Is this the end of our suffering?  \r\n  \r\n[Chorus:]  \r\nIs this freedom?  \r\nIs this freedom?  \r\n  \r\nWe have just witnessed the  \r\nChange of power from one fool  \r\nAnd liar to another  \r\nOur lives on the line again  \r\nShe had lived through the wars  \r\nShe didn't want to go through it all again  \r\nShe has seen injustice  \r\nShe has seen corruption  \r\nShe has seen racism  \r\nAnd any other kind of suffering  \r\nYou can think about  \r\nThen she said to me  \r\nSon, Is this the end of suffering?  \r\n  \r\n[Chorus till fade]\r\n\r\n"

In [135]:
df

,artist,song,text
0,Lucky Dube,Is This Freedom,She got outside one morning \r\nTo see what' ...
1,Paul Simon,Gone At Last,"The night was black, the roads were icy \r\nS..."
2,Steve Miller Band,Let Me Serve You,"Oh baby, don't you want a man like me \r\nOh ..."
3,Marianne Faithfull,Sexual Terrorist,"(Barry Reynolds, Marianne Faithfull) \r\n \r..."
4,Violent Femmes,More Money Tonight,I always felt that I was different \r\n \r\n...
...,...,...,...
4995,Queen,Hijack My Heart,Words and music by Queen \r\nJust walking dow...
4996,Queens Of The Stone Age,Little Sister,"Hey, sister, are you all alone? \r\nI'm stand..."
4997,Cake,"Perhaps, Perhaps, Perhaps",You won't admit you love me \r\nAnd so how am...
4998,Kanye West,Let's Get Married Reception Remix,[Chorus:] \r\nJust gots me a crib and a new c...
4999,Glee,Imagine,"Imagine there's no countries, \r\nIt isn't ha..."

In [136]:
df.tail(5)

,artist,song,text
4995,Queen,Hijack My Heart,Words and music by Queen \r\nJust walking dow...
4996,Queens Of The Stone Age,Little Sister,"Hey, sister, are you all alone? \r\nI'm stand..."
4997,Cake,"Perhaps, Perhaps, Perhaps",You won't admit you love me \r\nAnd so how am...
4998,Kanye West,Let's Get Married Reception Remix,[Chorus:] \r\nJust gots me a crib and a new c...
4999,Glee,Imagine,"Imagine there's no countries, \r\nIt isn't ha..."

In [137]:
df

,artist,song,text
0,Lucky Dube,Is This Freedom,She got outside one morning \r\nTo see what' ...
1,Paul Simon,Gone At Last,"The night was black, the roads were icy \r\nS..."
2,Steve Miller Band,Let Me Serve You,"Oh baby, don't you want a man like me \r\nOh ..."
3,Marianne Faithfull,Sexual Terrorist,"(Barry Reynolds, Marianne Faithfull) \r\n \r..."
4,Violent Femmes,More Money Tonight,I always felt that I was different \r\n \r\n...
...,...,...,...
4995,Queen,Hijack My Heart,Words and music by Queen \r\nJust walking dow...
4996,Queens Of The Stone Age,Little Sister,"Hey, sister, are you all alone? \r\nI'm stand..."
4997,Cake,"Perhaps, Perhaps, Perhaps",You won't admit you love me \r\nAnd so how am...
4998,Kanye West,Let's Get Married Reception Remix,[Chorus:] \r\nJust gots me a crib and a new c...
4999,Glee,Imagine,"Imagine there's no countries, \r\nIt isn't ha..."

In [138]:
import nltk
from nltk.stem.porter import PorterStemmer

In [139]:
stemmer = PorterStemmer()

In [140]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [141]:
token("you are beautiful")

'you are beauti'

In [142]:
token("hi how are you doing, Mate ")

'hi how are you do , mate'

In [143]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [144]:
df.head(5)

,artist,song,text
0,Lucky Dube,Is This Freedom,She got outside one morning \r\nTo see what' ...
1,Paul Simon,Gone At Last,"The night was black, the roads were icy \r\nS..."
2,Steve Miller Band,Let Me Serve You,"Oh baby, don't you want a man like me \r\nOh ..."
3,Marianne Faithfull,Sexual Terrorist,"(Barry Reynolds, Marianne Faithfull) \r\n \r..."
4,Violent Femmes,More Money Tonight,I always felt that I was different \r\n \r\n...

In [145]:
df.tail(5)

,artist,song,text
4995,Queen,Hijack My Heart,Words and music by Queen \r\nJust walking dow...
4996,Queens Of The Stone Age,Little Sister,"Hey, sister, are you all alone? \r\nI'm stand..."
4997,Cake,"Perhaps, Perhaps, Perhaps",You won't admit you love me \r\nAnd so how am...
4998,Kanye West,Let's Get Married Reception Remix,[Chorus:] \r\nJust gots me a crib and a new c...
4999,Glee,Imagine,"Imagine there's no countries, \r\nIt isn't ha..."

In [146]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [147]:
matrix=tfid.fit_transform(df['text'])

In [148]:
similar = cosine_similarity(matrix)

In [149]:
similar[0]

array([1.        , 0.03631537, 0.04320221, ..., 0.        , 0.04225145,
       0.00249189])

In [150]:
df[df['song'] == 'Many Too Many'].index[0]

np.int64(2404)

Recommender Function

In [155]:
def recommender(song_name):
    index = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similar[index])), reverse = True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:20]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [156]:
recommender("Hijack My Heart")

['I Have But One Heart (O Marenariello)',
 'Heart Over Mind',
 'Fire And Water',
 'Leave My Heart Out Of This',
 'If Anybody Had A Heart',
 'God Compare',
 "I Can't Hide My Heart",
 "Don't Break My Heart",
 'Change Of Heart',
 'Feels Like Love',
 'Hang It On Your Heart',
 "I'm Gone",
 'Tell It To Your Heart',
 'Piece Of My Heart',
 'Thunder In My Heart',
 'Love Will Keep Us Together',
 'Left 2 3 4',
 "Stuck On Fuckin' You",
 'Breaking Your Own Heart']

In [157]:
import pickle

In [158]:
pickle.dump(similar, open("similarity", "wb"))

In [160]:
pickle.dump(df, open("df", "wb"))